<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Humanity API</title>
    <style type="text/css">
      html {
        background-color: rgb(0, 0, 0);
      }
      text {
        font-family: monospace;
        color: rgb(229, 255, 0);
        font-weight: bold;
      }
      prices {
        font-family: monospace;
        color: rgb(9, 255, 0);
        font-weight: bold;
      }
      l7 {
      font-family: monospace;
      color: rgb(0, 255, 213);
      font-weight: bold;
    }
    QUARTZ {
      font-family: monospace;
      color: rgb(0, 255, 213);
      font-weight: bold;
      font-size: large;
    }
    l3 {
    font-family: monospace;
    color: rgb(187, 0, 125);
    font-weight: bold;
      }
      stat {
        font-family: monospace;
        color: rgb(241, 241, 241);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="dist/style.css"> 
    <script src="https://kit.fontawesome.com/5acf4d9e80.js" crossorigin="anonymous"></script>
    <span style='color: rgb(235, 0, 0); font-weight: 5000; background-image: url(https://media.giphy.com/media/eYRGWfchREFUUlXT7P/giphy.gif) '><b>Humanity API </b> </span>
    <br>
    <div class="center">
      <br>
      <div class="animate__animated animate__bounceIn animate__delay-1s">
        <text>
          <prices>Botnet Layer4 Methods:</prices>
          <br>
          "!nfo-quartz",
          <br>
          "!ovh-quartz" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!nfo-slap",
          <br>
          "!ovh-tcp" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!ovh-cpu" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!ovh-slap" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!ovh-vpn" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!quartz-hold",
          <br>
          "!quartz-udp",
          <br>
          "!quartz-hex",
          <br>
          "!quartz-xtd" <l7 style="font-size:large;">SOON</l7>,
          <br>
          "!quartz-tcp",
          <br>
          "!kill"
          <br>
          <l3>Botnet Layer7 Methods:</l3>
          <br>
          "!QUARTZ-L7",
          <br>
          "!QUARTZ-TLS"
          <br>
        </text>
        <br>
        <br>
        <stat>API Status:</stat> <prices>Online</prices>
        <br>
        <br>
        <QUARTZ class="animate__animated animate__bounceIn animate__delay-1s">For Cheapest API:</QUARTZ>
        <a href="https://t.me/humanityapi"><img src="https://cdn.discordapp.com/attachments/1117471624149606532/1117812375224074290/download.png" alt="Humanity_Telegram"></a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://t.me/quartzbotnet"><img src="https://cdn.discordapp.com/attachments/1117471624149606532/1117812375224074290/download.png" alt="Quartz_Telegram"></a>
      </div>
    </div>
  </body>
</html>
